.app-container {
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  padding: 40px;
  min-height: 100vh;
}

.top-title {
  margin-top: 0;
  color: #f0a500;
}

.question-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 30px 0;
  background-color: #1e1e1e;
}

.beer-button {
  background-color: #303030;
  color: white;
  border: none;
  padding: 15px 30px;
  height: 10rem;
  font-size: 30px;
  cursor: pointer;
  flex: 1;
  transition: background-color 0.3s;
  border-radius: 5px;
}

.beer-button:hover {
  background-color: #777;
}

.vs-text {
  font-size: 24px;
  margin: 0 20px;
  align-self: center;
  color: #f0a500;
}

.leaderboard-container {
  margin-top: 30px;
  border-radius: 5px;
  background-color: #303030;
  padding: 20px;
}

.leaderboard-button {
  padding: 8px 15px;
  margin: 10px;
  background-color: #444;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.leaderboard-button:hover {
  background-color: #666;
}

.leaderboard-table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
  border: 1px solid #555;
  padding: 10px;
  text-align: left;
}

.leaderboard-table th {
  background-color: #444;
}

.leaderboard-table tbody tr:nth-child(1) {
  background-color: #634f15;
}

.leaderboard-table tbody tr:nth-child(2) {
  background-color: #606060;
}

.leaderboard-table tbody tr:nth-child(3) {
  background-color: #50341e;
}

@media (max-width: 768px) {
  .app-container {
    padding: 20px;
  }

  .beer-button {
    font-size: 20px;
    padding: 10px 20px;
  }

  .vs-text {
    font-size: 18px;
  }

  .leaderboard-button {
    font-size: 12px;
    padding: 6px 12px;
  }
}

@media (max-width: 480px) {
  .beer-button {
    font-size: 16px;
    padding: 8px 16px;
  }

  .vs-text {
    font-size: 16px;
  }

  .leaderboard-button {
    font-size: 10px;
    padding: 4px 8px;
  }
}
